// Colors
$white: #fff;
$black: #000;
$gray_light_color: #DCDCDC;
$gray_dark_color: #777777;

// Text colors
$gray_text_color: #767676;

// Fonts
$pt_sans_bold: 'pt_sansbold', sans-serif;
$pt_sans_regular: 'pt_sansregular', sans-serif;
$open_sans: 'Open Sans Condensed', sans-serif;